.input-field {
  width: 250px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: rgb(48, 48, 234);
}
.btn{
  color: #28b0e8;  font-size: 16px;
}